body {
    background-image: url(../Media/back3.gif);
    background-repeat:repeat;
    background-size:cover;
    background-attachment: fixed;
    image-rendering: crisp-edges;
    backface-visibility: visible;
    padding: 0;
    margin: 0;
}

img{
    margin: auto;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none;
    text-align: center;
    
}

h1{
    margin: 20px auto;
    padding: 0;
    color: rgb(181, 0, 163);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

h3{
    margin: 0;
    padding: 0;
    color: wheat;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    margin: 0;
    padding: 0;
    color: wheat;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.pageCont{
    min-height: 100vh;
    max-height: 120vh;
    min-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-items: center;
    text-align: center;
    background-image: url(../Media/back3.gif);
    background-color: rgb(23, 45, 62);
    background-repeat:repeat;
    background-size:cover;
    background-attachment: fixed;
    image-rendering: crisp-edges;
    backface-visibility: visible;
}


.WSpace {
    width: 10%;
    min-height: 100%;
}

.Main {
    background: linear-gradient(46deg,rgba(255, 128, 0, 0.76) 0%, rgba(237, 135, 97, 0.9) 50%, rgba(255, 0, 200, 0.85) 100%);
    width: 80%;
    min-height: 100%;
    border-left: 4px solid rgba(21, 255, 0, 0.488);
    border-right:  4px solid rgba(255, 0, 234, 0.514);
    border-bottom:  4px solid rgba(0, 106, 255, 0.488);

}

.topCont {
    display: flex;
    border-bottom: 5px solid rgba(0, 106, 255, 0.488);
    justify-items: center;
    align-items: center;
    background: linear-gradient(79deg,rgba(255, 128, 0, 0.34) 0%, rgba(237, 135, 97, 0.37) 50%, rgba(255, 0, 200, 0.27) 100%);
    width: 100%;
    height: 20%;
}


.mainCont {
    background: linear-gradient(134deg,rgba(255, 128, 0, 0.34) 0%, rgba(237, 135, 97, 0.37) 50%, rgba(255, 0, 200, 0.27) 100%);
    min-height: 80%;
    display: flex;
}

.sec1 {
    background: linear-gradient(60deg,rgba(255, 128, 0, 0.34) 0%, rgba(237, 135, 97, 0.37) 65%, rgba(255, 0, 200, 0.14) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70%;
    min-height: 50%;
    margin: 1px;
    border-right: 3px solid rgba(21, 255, 0, 0.488);
    color: wheat;
}

.sec1 .projDiv {
    width: 95%;
    height: 30%;
    align-content: center;
    background-color: rgba(70, 131, 180, 0.712);
    margin: 30px;
    border: 3px solid rgba(20, 13, 33, 0.785);
    border-radius: 10px;
}

.projCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    height: 95%;
    width: 95%;
}

.projects{
    flex:1;
    width: 30%;
    height: 80%;
    transition: 3s;
}

#projPA{
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.projects:hover{
    flex: 50;
    border: 1px solid rgb(146, 146, 250);
    border-radius: 30px;
    transform: scaleY(120%);
}

.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(30deg,rgba(255, 128, 0, 0.34) 0%, rgba(237, 135, 97, 0.37) 20%, rgba(255, 0, 200, 0.14) 100%);
    border: 3px solid rgba(14, 9, 22, 0.785);
    border-radius: 15px;
    width: 25%;
    margin: 10px;
    color: wheat;
}

.sec2 .sideButton {
    text-align: center;
    padding: 20px;
    margin: 30px 10px 0px 10px;
    border: 3px solid rgba(20, 13, 33, 0.785);
    border-radius: 20px;
    transition: 1s;
    height: 5%;
    width: 85%;
    color: aquamarine;
    background-color: rgba(105, 90, 205, 0.338);
}

.sec2 .sideButton:hover{
    transform: scale(110%);
    background-color: rgba(105, 90, 205);
}

.sec2 .sideButton:active{
    width: 100vw;
    height: 100vh;
}

.socialDiv{
    width: 95%;
    height: 15%;
    align-content: center;
    background-color: rgba(70, 131, 180, 0.712);
    margin: 30px;
    border: 3px solid rgba(20, 13, 33, 0.785);
    border-radius: 10px;
}

.socialCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    height: 95%;
    width: 95%;

}

.socials{
    width: 30%;
    border-radius: 45%;
    height: 70%;
    margin: auto;
    transition: 1s;
}

.socials #Insta{
    width: 100%;
    background: linear-gradient(204deg,rgba(179, 0, 60, 1) 0%, rgba(121, 9, 89, 1) 50%, rgba(255, 98, 0, 1) 100%);
    border-radius: 50%;
}

.socials #LinkedIn{
    width: 100%;
    background: linear-gradient(92deg,rgba(255, 255, 255, 1) 0%, rgba(0, 178, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    border-radius: 50%;
}

#LinkedIn .img{
    margin: auto;
}

.socials #Youtube{
    width: 100%;
    background: linear-gradient(210deg,rgba(255, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 0, 0, 1) 100%);
    border-radius: 50%;
}

.socials:hover{
    transform: scale(120%);
}